# Data Incompleteness

In [ ]:
#HOW TO DETECT MISSING DATA

#FIRST INSPECT YOUR DATA
import pandas as pd 
data = pd.read_csv("glass.csv")

In [ ]:
data.sample(10)

In [ ]:
print(data.shape)

In [ ]:
print(type(data))

In [ ]:
data.columns

In [ ]:
data.index

##  Duplicate values

In [ ]:
help(pd.DataFrame.duplicated)

In [ ]:
data.duplicated()

In [ ]:
data[data.duplicated()]

In [ ]:
data.drop_duplicates(inplace=True)
print(data.shape)

## Missing Values

In [ ]:
data.groupby('Type').mean()

In [ ]:
#Create some missing values
import numpy as np
data.iloc[::3,-1]=np.nan #not a number (to every third element)
data.iloc[::4,0]=np.nan

In [ ]:
data.head(10)

In [ ]:
#To make detecting missing values easier (and across different array dtypes), 
#pandas provides the isna() and notna() functions, 
#which are also methods on Series and DataFrame objects

type(data['Type'])

In [ ]:
data.isna().any()

In [ ]:
#or you can ask for who is notNAN
data['Type'].notna()

In [ ]:
data.isna().head() #on the entire dataframe

In [ ]:
#a few comments:
##When summing data, NA (missing) values will be treated as zero.
##NA groups in GroupBy are automatically excluded

data.groupby("Type").mean()

#In other words, there will never be an “NA group” 
#This was not the case in older versions of pandas

In [ ]:
data.groupby("Type").min()

In [ ]:
data

## Some alternatives to deal with missing values

## 1. Drop

In [ ]:
#How to use "dropna" method to Remove missing values from a dataframe.

data = pd.read_csv("glass.csv")
data.iloc[::3,-1]=np.nan #not a number (to every third element)

data
#Drop the rows where at least one element is missing.
data_drop=data.dropna(axis=0) #1/3 has been removed
#data_drop
#print(len(data), len(data_drop))
    
#Drop the columns where at least one element is missing.
data_drop=data.dropna(axis=1) # or axis=1 #remove the  column
data_drop

#Drop the rows where all elements are missing.
#data_drop=data.dropna(how='all')
#data_drop
#Define in which columns to look for missing values.
#data.dropna(subset=['RI','Type'])

#Keep the DataFrame with valid entries in the same variable
#that means that dropna changed data
#data.dropna(inplace=True)

#print out your data

#print(data.shape)
#print(data.head())

#print(data_drop.shape)
#print(data_drop.head())

### 2. SUBSTITUTION:  (Be careful using this approach!)

How to use "fillna" to replace missing values

In [ ]:

data = pd.read_csv("glass.csv")
data.iloc[::3,-1]=np.nan 

data
data.fillna(999)

In [ ]:
#if I want to replace with different rules in different columns
data.iloc[::4,0]=np.nan #not a number (to every forth element)
data

In [ ]:
values = {'Type': 33} #you can add more rules here for the other columns
data.fillna(value=values).head()

In [ ]:
values = {'Type':999, "RI": -1} #you can add more rules here for the other columns
data.fillna(value=values)

In [ ]:
data.fillna(data.mean()[["Type"]])#replace missing value with the column mean

In [ ]:
#data.head()
data.fillna(data.mean()["RI":"Type"])